/* Reset and base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  min-height: 100vh;
}
.app-container {
  width: 100%;
  max-width: 40rem; /* Limits max width for larger screens */
  height: auto;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  text-align: center;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}


.light-night-mode i {
  font-size: 1.5rem;
}
.main-weather-container {
  width: 100%;
  padding: 2rem;
}
.card.weather-card-night{
  background-color: #333;
  color: #ffffff;
}
.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 21px;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
}
.card.temp {
  background-color: #ffd597;
}
.card.temp.temp-night {
  background-color: #bb6700;
}
.card.details {
  background-color: #f6f6f6;
}
.card.details.details-night {
  background-color: #121212;
}
.temperature {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.temperature.temperature-night{
  color: #fff;
}
.night-mode {
  background-color: #121212;
  color: #ffffff;
}
.small-card{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color:#ffd597;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  margin-bottom:0.5rem;
}
.card.details.details-night .small-card{
  background-color:#bb6700;
}

.today-forecast{
  display: flex;
  overflow: auto;
  gap: 1rem;
  padding: 1rem 0;
}
.today-forecast-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  min-width: 100px;
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.today-forecast-card:nth-child(even){
  background-color: #f0f0f0;
}
.today-forecast-card:nth-child(odd){
  background-color: #ffd597;
}
.today-forecast-card.today-forecast-card-night:nth-child(even){
  background-color: #121212;
}
.today-forecast-card.today-forecast-card-night:nth-child(odd){
  background-color: #bb6700;
}
.part-title{
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.city-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 100%;
  
  
}
.city-input i{
  font-size: 1.5rem;
}
.city-input input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
  border:none;
  background:transparent;
  border: 1px solid #444;
  border-radius: 0.5rem;
}
/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and below) */
@media (max-width: 600px) {
  body {
    height: auto;
  }
  .app-container {
    padding: 0.5rem;
    width: 100%;
    min-height: 100vh;
  }
  .header h1 {
    font-size: 1.2rem;
  }
  .main-weather-container {
    padding: 1rem;
  }
  .temperature {
    font-size: 2.5em;
  }
  .card {
    padding: 15px;
  }
  .temp, .details {
    width: 100%;
  }
  .small-card{
    margin-bottom:0.5rem;
  }
}
/* Medium devices (tablets, 600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    min-height: 100vh;
  }
  .app-container {
    width: 90%;
    margin:10% auto;
  }
  .header h1 {
    font-size: 1.4rem;
  }
  .main-weather-container {
    padding: 0.5rem;
  }
  .temperature {
    font-size: 3em;
  }
  .small-card{
    margin-bottom: 0.5rem;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1025px) {
  body{
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-container {
    width: 100vw;
    max-width: auto;
    padding: 2rem;
  }
  .main-weather-container {
    padding: 1rem;
  }
  .temperature {
    font-size: 2em;
  }
}
